# Rust
/target
.cargo

# Development environment variables
.env

# Editors
.vscode/
.idea/
.zed/
.lazy.lua

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Mkdocs
/site

# Node
node_modules

# Python
.mypy_cache
.ruff_cache
.pytest_cache
.venv

.claude
