# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
    - uv-lock
    - cargo-fmt
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        exclude: crates/fricon-ui/icons/.*
  - repo: https://github.com/crate-ci/typos
    rev: 802d5794ff9cf7b15610c47eca99cd1ab757d8d4  # frozen: v1
    hooks:
      - id: typos
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 04f6651481db5a9efe774349a1bf6db4cb4c5a05  # frozen: 0.9.17
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: d96cc7adddf7d15b77f99dbd5d20e037dfd1b29c  # frozen: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: ef33b2d7a105065b31aedaec9a74ed6f5cb6877b  # frozen: 4.0.0a2
    hooks:
      - id: sqlfluff-lint
      - id: sqlfluff-fix
  # Copied from maturin repo
  - repo: local
    hooks:
      - id: cargo-fmt # rustup component add rustfmt
        name: cargo fmt
        entry: cargo +nightly fmt --all --
        language: system
        types: [rust]
        pass_filenames: false
