# https://release-plz.dev/docs/extra/single-tag
[workspace]
git_release_enable = false
git_tag_enable = false
changelog_update = false

[[package]]
name = "fricon"
git_tag_name = "v{{ version }}"
git_tag_enable = true
git_release_enable = true
changelog_update = true
changelog_path = "./CHANGELOG.md"
changelog_include = ["fricon-ui", "fricon-cli", "fricon-py"]
