name: Deploy Docs

permissions:
  contents: write

on:
  push:
    branches:
      - main
    tags:
      - "**"

concurrency:
  group: deploy-docs
  cancel-in-progress: false

jobs:
  mike-deploy:
    name: Mike Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwebkit2gtk-4.1-dev \
            libxdo-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Install build dependencies
        uses: taiki-e/install-action@v2
        with:
          tool: protoc
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "pnpm"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git fetch origin gh-pages --depth=1
      - name: Set docs version tag
        run: uv run scripts/set-docs-version.py
      - name: Build docs
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: uv run --group docs mike deploy --push dev
      - name: Build docs
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: uv run --group docs mike deploy --push --update-aliases "$FRICON_DOCS_TAG" latest
